$headingFont: 'Pattaya';
$headingFont1: 'Henny Peny';
$textFont: 'Roboto',
sans-serif;
$pink: #6F3CA0;
$green: #409922;
$yellow: #e1bd29;
$white: #F2F2F2;
$black: #0D0D0D;
$backGroundColor: #FDF8E5;
$articleTextColor: #5b595c;
$articleTextSize: 1em;